%h2 create new file

%form.edit-file{ :method => "post", :action => "/file.create" }
  %table
    %tr
      %th name
      %td
        %input{ :type => "text", :name => "name" }
    %tr
      %th body
      %td
        %textarea{ :name => "body" }
    %tr
      %th
      %td
        %input{ :type => "submit", :value => "create" }
