%h2= "uploading #{ @file.name }"
%meta{ :name => "codepaste-command", :content => "upload" }
%link{ :rel => "upload", :href => @file.path("blob") }
%meta{ :name => "project", :content => @file.project_name }
%meta{ :name => "file", :content => @file.name }

%h3.status waiting observer.
%a.hidden{ :href => @file.path} back

%form.hidden{ :method => "post", :action => "/file/#{ @file.id }.edit" }
  %input.name{ :type => "text", :name => "name", :value => @file.name  }
  %textarea.body{ :name => "body"}= @file.body
  %input{ :type => "submit", :value => "edit" }

-# from MozRepl
-# (content.document.querySelector('link[rel=\"upload\"]') || {}).href
-# content.wrappedJSObject.setName(string) (optional)
-# content.wrappedJSObject.setBody(string)
-# content.wrappedJSObject.finish()

:javascript
  function setName(name) {
      $("input.name").attr("value", name);
      return true;
  }
  function setBody(body) {
      $("textarea.body").text(decodeURIComponent(body.replace(/\+/g, " "))); // XXX: SUPER BK
      return true;
  }
  function succeed() {
      $(".status").text("finished.");
      setTimeout(function(){
        $("form").submit();
      }, 1000);
      return true;
  };
  function failed(message) {
      $("meta[name=codepaste-command]").remove();
      $("link[rel=upload]").remove();
      $(".status").addClass("error").text(message);
      $("a.hidden").show("slow");
  }
