<h2>New File</h2>
<form class="login-form" method="post" action="/file.new">
  <table>
    <tr><th>Name</th><td><input type="text" size="30" name="name"></input></td></tr>
    <tr><th>Description</th><td><textarea size="30" name="body"></textarea></td></tr>
  </table>
  <input type="submit" value="Create"></input>
</form>
