%h2= "downloading #{ @file.name }"
%meta{ :name => "codepaste-command", :content => "download" }
%link{ :rel => "download", :href => @file.path("blob") }
%meta{ :name => "project", :content => @file.project_name }
%meta{ :name => "file", :content => @file.name }

%h3.status waiting observer.
%a.hidden{ :href => @file.path} back

.overwrite
  %label
    %input{ :type => 'checkbox', :id => 'overwrite' }allow overwrite

:javascript
  function start() {
    $("input#overwrite").attr("disabled", true);
    $(".status").text("downloading file.");
  }
  function succeed(name) {
      $("meta[name=codepaste-command]").remove();
      $("link[rel=download]").remove();
      $(".status").text(name ? "You got project " + name : "finished");
      $("a.hidden").show("slow");
      $(".overwrite").remove();
  };
  function failed(message) {
      $("meta[name=codepaste-command]").remove();
      $("link[rel=download]").remove();
      $(".status").addClass("error").text(mydecode(message));
      $("a.hidden").show("slow");
  }
  function mydecode(body) {
      return decodeURIComponent(body.replace(/\+/g, " "))
  }
