%h2 ヘルプ

%h3 概要
%p フォームからJavaのプログラムを登録できます．
%p Eclipse上にJavaのプログラムをダウンロードし，編集，アップロードできます．
%p 人の作ったプログラムを自分用にコピーできます．
%p これらの操作をブラウザからの操作のみで行うことができます．


%h3 セットアップ
%p FirefoxにMozReplをインストールします．
%a{ :href => 'http://hyperstruct.net/content/mozrepl' }  MozRepl | hyperstruct

%p Eclipseにプラグインをインストールします．
%a{ :href => '/plugin/CodePaste_1.0.0.201005071924.jar'} /plugin/CodePaste_1.0.0.201005071924.jar

%p eval_in_firefoxをパスの通った場所に置きます．
%a{ :href => '/plugin/eval_in_firefox'} /plugin/eval_in_firefox


%h3 使い方
%p 右上のregisterから，ユーザー登録してから使います．
%p 使用中は，Eclipseを起動しておきます．
%p 使用中は，MozReplを有効にしておきます．