%h3 files

%table.files
  %tr
    %th file
    %th author
    %th preview
  - @files.each do |file|
    %tr.file
      %td!= entity_link(file)
      %td!= entity_link(file.user)
      %td
        %span.preview= file.body

.create
  - if current_user
    %h3 create
    %form{ :method => "get", :action => "/file.create" }
      %input{ :type => "submit", :value => "create new file" }
