%h3 files
.files
  - @files.each do |file|
    .file
      %span.name!= entity_link(file)
      %span.preview= file.body

.create
  - if current_user
    %h3 create
    %form{ :method => "get", :action => "/file.create" }
      %input{ :type => "submit", :value => "create new file" }
