%h3 files

%table.files
  %tr
    %th file
    %th author
    %th preview
  - @files.each do |file|
    %tr.file
      %td!= entity_link(file)
      %td!= entity_link(file.user)
      %td
        %span.preview= file.body

.create
  - if current_user
    %h3 create
    %form{ :method => "get", :action => "/file.create" }
      %input{ :type => "submit", :value => "create new file" }

%h3 download Eclipse plugin
%a{ :href => '/plugin/CodePaste_1.0.0.201005071924.jar'} /plugin/CodePaste_1.0.0.201005071924.jar

%h3 download required command
%a{ :href => '/plugin/eval_in_firefox'} /plugin/eval_in_firefox