!!!XML
!!!

%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/common.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.4.1.min.js" }
  %body
  .header header
  %hr
    - @errors.each do |e|
      %p= e
    - @messages.each do |m|
      %p= m
  .content
    !=  yield
  %hr
  .footer footer
