%h2 login

%form{ :method => "post", :action => "/login" }
  name:
  %input{ :type => "text", :name => "name" }
  %br
  password:
  %input{ :type => "passwrd", :name => "password" }
  %br
  %input{ :type => "submit", :value => "register" }
