%h2 register

%form{ :method => "post", :action => "/register" }
  name:
  %input{ :type => "text", :name => "name" }
  %br
  password:
  %input{ :type => "password", :name => "password" }
  %br
  %input{ :type => "submit", :value => "register" }
