%h1!= entity_link @user

%table.files
  %tr
    %th file
    %th author
    %th preview
  - @user.files.each do |file|
    %tr.file
      %td!= entity_link(file)
      %td!= entity_link(file.user)
      %td
        %span.preview= file.body
