body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hidden{
    display: none;
}

.header-navigation {
    float: right;
    font-size: 90%;
}

.error {
    color: red;
    font-size: 150%;
}

pre.preview {
    margin: 1em;
    font-size: 90%;
}

span.preview {
    color: #666;
    font-size: 90%;
    white-space: nowrap;
}
ul.menu {
    padding: 0;
}

ul.menu li {
    text-align: center;
    display: inline-block;
    margin-right: 1em;
}

ul.notes {
    padding: 0;
    list-style: none;
}

table.files, table.files th, table.files td {
    border: solid 1px #333;
    border-collapse: collapse;
    padding: 4px;
}
table.files td {
    max-width: 800px;
    overflow: hidden;
    white-space: nowrap;
}

img {
    border: none;
}

a {
    border: none;
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

form.edit-file input[type=text] {
    width: 300px;
}
form.edit-file textarea {
    width: 500px;
    height: 300px;
}

form.add-note textarea {
    width: 350px;
    height: 200px;
    display: block;
}
